<script>
	import { getContext, onDestroy } from 'svelte';
	import { ROUTER } from './Router.html';

	export let path; 
	export let componentImport;

	let ComponentPromise; 
	let componentRef;

	const route = { path, componentImport };

	const { registerRoute, unregisterRoute, selectedRoute } = getContext(ROUTER);
	
	registerRoute(route);

	selectedRoute.subscribe(val => {
		if(val && val.route == route) {
			console.log(`Dynamically importing route "${route.path}"`);
			ComponentPromise = componentImport().then(({default: Component}) => {
				return new Component({target: componentRef});
			}); 
		}
	});
	
</script>

Selected Route: {JSON.stringify($selectedRoute,null,2)}

{#if $selectedRoute && $selectedRoute.route == route}
	{#await ComponentPromise}
		<slot>
			<p>Loading... {JSON.stringify($selectedRoute,null,2)}</p>
		</slot>
	{:catch}
		Error!
	{/await}
	<div bind:this={componentRef}></div>
{/if}