<script context="module">
	export const ROUTER = { }; 
</script>

<script>
	import { setContext, onMount } from 'svelte';
	import { writable, derive } from 'svelte/store';
	import page from 'page.js';
	
	let selectedRoute = writable(null);

	const routeMiddleware = route => (ctx,next) => { 
		selectedRoute.set({ctx, route});
	};
	
	setContext(ROUTER, { 
		registerRoute(route) { 
			page(route.path, routeMiddleware(route)); 
		}, 
		selectedRoute
	});

	onMount(() => {
		page(); 
	});
	
</script>

<!-- todo.. figure this bit out -->
<slot></slot>