<script>
	import { getContext, onDestroy } from 'svelte';
	import { writable } from 'svelte/store';
	import { ROUTER } from './Router.html';

	export let path; 
	export let componentImport;

	let componentPromise; 
	let target;

	const route = { path, componentImport };

	const { registerRoute, selectedRoute } = getContext(ROUTER);
	
	registerRoute(route);

	selectedRoute.subscribe(selected => {
		if(selected && selected.route == route) {
			componentPromise = Promise.all([
				componentImport(), 
				// todo: optionally fetch data/props concurrently with component import?
			])
			.then(([{default: Component}, data]) => {
				return new Component({
					target, 
					props: { 
						route: selected.ctx
					}
				});
			}); 
		}
	});

</script>

{#if $selectedRoute && $selectedRoute.route == route}
	{#await componentPromise}
		<slot name="loading">
			<p>Loading... </p>
		</slot>
	{:then}
	{:catch}
		<slot name="error">
			Error!
		</slot>
	{/await}
	<div bind:this={target}></div>
{/if}