<script context="module">
	export const ROUTER = { }; 
</script>

<script>
	import { setContext, onMount } from 'svelte';
	import { writable, derive } from 'svelte/store';
	import determineRoute from '../lib/determineRoute';
	
	let routes = writable([]);
	let path = writable(null);
	let selectedRoute = derive([routes, path], ([routes, path]) => { 
		if(!path || !routes) return null;
		let route = determineRoute(routes,path);
		return route;
	}); 

	const locationChange = (evt) => { 
		if(evt) evt.preventDefault(); 
		path.set(location.pathname); 
	}; 
	
	setContext(ROUTER, { 
		registerRoute(conf) { 
			routes.update(current => { 
				current.push(conf);
				return current;
			});
		}, 
		selectedRoute
	});

	onMount(locationChange);
	
</script>

<!-- todo.. figure this bit out -->
<svelte:window 
	on:hashchange={locationChange} 
	on:onpopstate={locationChange} 
/>
<slot></slot>