<script context="module">
	export const ROUTER = { }; 
</script>

<script>
	import { setContext, onMount, afterUpdate } from 'svelte';
	import { writable, derive } from 'svelte/store';
	import page from 'page.js';
	
	let selectedRoute = writable(null);

	export let hashbang = false;

	const routeMiddleware = route => (ctx) => { 
		selectedRoute.set({ctx, route});
	};
	
	setContext(ROUTER, { 
		registerRoute(route) { 
			page(route.path, routeMiddleware(route)); 
		}, 
		selectedRoute
	});

	onMount(() => {
		setTimeout(() => {
			page({hashbang}); 
		}, 0);
	});

</script>

<!-- todo.. figure this bit out -->
<slot></slot>